#br {
	width: 50px;
	height: 50px;
}

#tx, #tx1 {

	width: 50px;
	bottom: 10px;
	text-align: center;

}
div {
	display: inline-block;
	margin-left: 20px;
}

#img {
	display: block;

}